<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site2 4.5 @ViewBag.Title</title>
</head>
<body>
    <h1>Site2 Framework 4.5 WIF 4.5(4.0?)</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
