<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site3 4.0 @ViewBag.Title</title>
</head>
<body>
    <h1>Site3 Framework 4.0 WIF 3.5(3.0?)</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
