<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site3 @ViewBag.Title</title>
</head>
<body>
    <h1>Site3</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
